In [41]:
import pandas as pd
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [42]:
df=pd.read_csv(r'C:\Users\SAMANVITHA\OneDrive\Desktop\ml\loan_approval_dataset.csv')

In [43]:
df.head()

,Age,Salary,Credit_Score,Loan_Amount,Loan_Term,Employment_Status,Residence_Type,Previous_Default,Loan_Approved
0,56,136748,584,38209,36 months,Employed,Owned,Yes,Yes
1,46,25287,815,27424,24 months,Self-Employed,Rented,No,Yes
2,32,146593,398,42396,12 months,Unemployed,Rented,Yes,Yes
3,60,54387,696,11370,24 months,Unemployed,Owned,No,No
4,25,28512,788,14528,12 months,Employed,Owned,No,No

In [44]:
x=df.drop(columns=['Loan_Approved'],axis=1)
y=df['Loan_Approved']

Xtrain,Xtest,Ytrain,Ytest=train_test_split(x,y,test_size=0.4,random_state=42)

In [45]:
df['Residence_Type'].unique()

array(['Owned', 'Rented', 'Mortgage'], dtype=object)

In [48]:
label=LabelEncoder()
x=df['Employment_Status']
y=['Loan_Approved']
df['Employment_Status']=label.fit_transform(x)
labelx= df[['Employment_Status']]
labelx

     Employment_Status
0                    0
1                    1
2                    2
3                    2
4                    0
..                 ...
995                  1
996                  1
997                  1
998                  1
999                  0

[1000 rows x 1 columns]

In [47]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(labelx,y,test_size=0.8,random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [1000, 1]

In [ ]:
labelx

     Employment_Status
0                    0
1                    1
2                    2
3                    2
4                    0
..                 ...
995                  1
996                  1
997                  1
998                  1
999                  0

[1000 rows x 1 columns]

In [ ]:
# x=df['Residence_Type']
# y=['Loan_Approved']
# df['Residence_Type']=label.fit_transform(x)
# labelx= df['Residence_Type']

In [ ]:
Xtrain,Xtest,Ytrain,Ytest=train_test_split(labelx,y,test_size=0.8,random_state=42)

ValueError: Found input variables with inconsistent numbers of samples: [1000, 1]