In [26]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans
from kmodes.kmodes import KModes
from kmodes.kprototypes import KPrototypes
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.impute import SimpleImputer

In [27]:
df=pd.read_csv('heart_disease.csv')

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 920 entries, 0 to 919
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        920 non-null    int64
 1   age       920 non-null    int64
 2   sex       920 non-null    object
 3   dataset   920 non-null    object
 4   cp        920 non-null    object
 5   trestbps  861 non-null    float64
 6   chol      890 non-null    float64
 7   fbs       830 non-null    object
 8   restecg   918 non-null    object
 9   thalch    865 non-null    float64
 10  exang     865 non-null    object
 11  oldpeak   858 non-null    float64
 12  slope     611 non-null    object
 13  ca        309 non-null    float64
 14  thal      434 non-null    object
dtypes: float64(5), int64(2), object(8)
memory usage: 107.9+ KB

In [29]:
df=df.dropna(axis=0)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 299 entries, 0 to 748
Data columns (total 15 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        299 non-null    int64
 1   age       299 non-null    int64
 2   sex       299 non-null    object
 3   dataset   299 non-null    object
 4   cp        299 non-null    object
 5   trestbps  299 non-null    float64
 6   chol      299 non-null    float64
 7   fbs       299 non-null    object
 8   restecg   299 non-null    object
 9   thalch    299 non-null    float64
 10  exang     299 non-null    object
 11  oldpeak   299 non-null    float64
 12  slope     299 non-null    object
 13  ca        299 non-null    float64
 14  thal      299 non-null    object
dtypes: float64(5), int64(2), object(8)
memory usage: 37.4+ KB

In [31]:
cat_col=[2,3,4,7,8,10,12,14]

In [34]:
model2=KPrototypes(n_clusters=2)
df['Cluster']=model2.fit_predict(df,categorical=cat_col)

In [40]:
val=df[['id','Cluster']]

In [46]:
val.to_csv('../submission1.csv',index=False)

In [44]:
df['id']

0        0
1        1
2        2
3        3
4        4
      ...
294    299
295    300
296    301
297    508
298    748
Name: id, Length: 299, dtype: int64