In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

In [45]:
df=pd.read_csv('loan_approval_dataset.csv')
df

     Age  Salary  Credit_Score  ...  Residence_Type Previous_Default Loan_Approved
0     56  136748           584  ...           Owned              Yes           Yes
1     46   25287           815  ...          Rented               No           Yes
2     32  146593           398  ...          Rented              Yes           Yes
3     60   54387           696  ...           Owned               No            No
4     25   28512           788  ...           Owned               No            No
..   ...     ...           ...  ...             ...              ...           ...
995   22   49241           500  ...           Owned               No           Yes
996   40  116214           423  ...           Owned               No           Yes
997   27   64569           300  ...          Rented              Yes           Yes
998   61   31745           490  ...        Mortgage               No           Yes
999   19   46029           815  ...        Mortgage              Yes            No

[1000 rows x 9 columns]

In [46]:
df['Loan_Term']=df['Loan_Term'].str.strip("months")

In [47]:
X=df.drop('Loan_Approved',axis=1)
y=df['Loan_Approved']

In [48]:
label=LabelEncoder()
df['Employment_Status']=label.fit_transform(df['Employment_Status'])
df['Residence_Type']=label.fit_transform(df['Residence_Type'])
df['Previous_Default']=label.fit_transform(df['Previous_Default'])

In [51]:
X=df.drop('Loan_Approved',axis=1)
y=df['Loan_Approved']
Xtrain,Xtest,ytrain,ytest=train_test_split(X,y,train_size=0.8,random_state=42)

In [52]:
model=LogisticRegression(max_iter=10000,random_state=42,n_jobs=-1)
model.fit(Xtrain,ytrain)
model.n_iter_

array([906], dtype=int32)

In [53]:
predict=model.predict(Xtest)

In [54]:
y.value_counts()

Loan_Approved
Yes    508
No     492
Name: count, dtype: int64

# Model is balanced hence we have to accuracy_score for model evaluation

In [55]:
from sklearn.metrics import confusion_matrix,precision_score,recall_score,accuracy_score,f1_score
confusion_matrix(ytest,predict)

array([[43, 52],
       [45, 60]])

In [56]:
accuracy_score(ytest,predict)

0.515

In [57]:
precision_score(ytest,predict,pos_label='Yes')

0.5357142857142857

In [58]:
recall_score(ytest,predict,pos_label='Yes')

0.5714285714285714

In [59]:
f1_score(ytest,predict,pos_label='Yes')

0.5529953917050692